  body {
    overflow: hidden;
      margin: 0;
      font-family: "EB Garamond", serif;
      background: #252424;
      color: #fff;
    }

    :root {
      --c1:#d4d4d4;
      --c2:#BFBFBF;
      --c3:#9B9D9C;
      --c4:#292727;
      --c5:#d60000;
      --c6:rgb(72, 0, 0);
    }

    .nav {
      background: rgba(23, 23, 23, 0.6);
      backdrop-filter: blur(6px);
      padding: 0.5rem 1rem;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }

    .menu {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }

    .menu a {
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.55rem 0.8rem;
      border-radius: 12px;
      color: #fff;
      opacity: 0.9;
      text-decoration: none;
      transition: all 0.2s ease;
    }

    .menu a:hover {
      color: var(--c5);
      background: none;
      opacity: 1;
    }

    #mapa {
      position: relative;
      width: 100%;         
      height: 450px;
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .legenda {
      position: absolute;
      bottom: 0;            
      left: 0;             
      background: rgba(23, 23, 23, 0.7);
      padding: 10px 15px;
      border-radius: 8px;
      color: white;
      font-family: Arial, sans-serif;
      box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    }

    .legenda h3 {
      margin-bottom: 10px;
    }

    .cor {
      width: 20px;
      height: 20px;
      display: inline-block;
      border: 1px solid white;
      border-radius: 3px;
    }

    .cor.entente { background-color: rgb(1, 1, 168); }
    .cor.triplice { background-color: red; }
    .cor.neutros { background-color: gray; }
    .cor.aliados { background-color: rgb(114, 1, 114); }
